- content_for(:title, 'Калькулятор доступности')
=partial "partials/no_js"

%h1.text-center Калькулятор доступности
%article
  %p Калькулятор доступности рассчитывает и&nbsp;показывает требуемое время доступности и&nbsp;допустимое время недоступности системы или&nbsp;сервиса (услуги) в&nbsp;часах, минутах и&nbsp;секундах.

  %p Параметров расчёта три: количество рабочих часов в&nbsp;одном дне, количество рабочих дней в&nbsp;периоде расчёта и&nbsp;количество часов регламентного простоя системы. Время регламентного простоя&nbsp;&mdash;&nbsp;это часть рабочего времени, когда система (сервис) может быть недоступна из-за регламентных работ или&nbsp;ремонта. Время регламентного простоя вычитается из&nbsp;общего количества рабочего времени.

  %p Калькуляторов два, чтобы можно было сравнивать результаты, рассчитанные при&nbsp;разных значениях параметров. Первый калькулятор по&nbsp;умолчанию расчитывает доступность для&nbsp;режима работы 9×5, а&nbsp;второй для&nbsp;режима 24×7. Оба считают для&nbsp;периода в&nbsp;один месяц, но&nbsp;для&nbsp;режима 9×5 это 21&nbsp;день, а&nbsp;для 24×7 &mdash; 30&nbsp;дней. Вы можете задать любые числовые значения параметров, можно даже указывать дробные величины, надо только правильно поставить десятичную запятую или&nbsp;точку в&nbsp;соответствии с&nbsp;вашими региональными настройками.

  %h3 О режимах работы
  #spravd
    %p
      Режим 9×5:
      %br
      Это обычное рабочее время, например, с&nbsp;10&nbsp;утра до&nbsp;7&nbsp;вечера. Часто обозначается, как&nbsp;8×5, хотя почти в&nbsp;каждой организации рабочий день для ИТ длится 9&nbsp;часов, а&nbsp;не&nbsp;8, поэтому 9×5 точнее. Количество рабочих дней в месяце зависит от&nbsp;количества выходных и&nbsp;праздничных дней, поэтому разное в&nbsp;разные месяцы и&nbsp;в&nbsp;разные годы.
      %br
      &middot;&nbsp;В&nbsp;2015 году в&nbsp;одном месяце в&nbsp;среднем 20,58 рабочих дней.
      %br
      &middot;&nbsp;В&nbsp;2016 году в&nbsp;одном месяце в&nbsp;среднем 20,75 рабочих дней.
      %br
      Подробную информацию о рабочем времени смотрите в&nbsp;#{link_to 'производственном календаре', 'http://yandex.ru/yandsearch?lr=213&text=%D0%BF%D1%80%D0%BE%D0%B8%D0%B7%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9+%D0%BA%D0%B0%D0%BB%D0%B5%D0%BD%D0%B4%D0%B0%D1%80%D1%8C'}.

    %p
      Режим 24×7:
      %br
      Круглосуточный режим работы. Количество дней в&nbsp;месяце определяется календарём.
      %br
      &middot;&nbsp;В&nbsp;обычном году в&nbsp;месяце в&nbsp;среднем 30,4&nbsp;дня, в&nbsp;високосном &mdash; 30,5&nbsp;дней. Если считать и&nbsp;високосные, и&nbsp;обычные годы, то в&nbsp;одном месяце в&nbsp;среднем 30,4375&nbsp;дней.

  =form_tag ('index.html') do
    .resutable
      %br
      %h3 Вариант&nbsp;1
      %p
        Параметры: #{text_field_tag :a, id: :a, value: '9'}&nbsp;рабочих часов в&nbsp;день&nbsp;× #{text_field_tag :b, id: :b, value: '21'}  &nbsp;рабочих дней в&nbsp;периоде&nbsp;- #{text_field_tag :c, id: :c, value: '0'}&nbsp;часов регламентного простоя
      %p=button_tag "Пересчитать с новыми параметрами", onclick: "calculateValue();"
      %p В&nbsp;расчётном периоде <span id="d" style="width:50px; height:25px;"> 189</span> рабочих часов.
      %table{width: "200"}
        %thead
          %tr
            %td Требуемая доступность
            %td #{hidden_field_tag 'e1', id: :e1, value: '0.9'}90,00&thinsp;%
            %td #{hidden_field_tag 'e2', id: :e2, value: '0.95'}95,00&thinsp;%
            %td #{hidden_field_tag 'e3', id: :e3, value: '0.98'}98,00&thinsp;%
            %td #{hidden_field_tag 'e4', id: :e4, value: '0.99'}99,90&thinsp;%
            %td #{hidden_field_tag 'e5', id: :e5, value: '0.999'}99,99&thinsp;%
            %td #{hidden_field_tag 'e6', id: :e6, value: '0.9999'}99,999&thinsp;%
            %td #{hidden_field_tag 'e7', id: :e7, value: '0.99999'}99,9999&thinsp;%
            %td #{hidden_field_tag 'e8', id: :e8, value: '0.999999'}99,99999&thinsp;%
        %tbody
          %tr
            %td Сервис&nbsp;обязан работать,&nbsp;ч:м:с
            %td#f1 170:6:0
            %td#f2 179:33:0
            %td#f3 185:13:12
            %td#f4 187:6:36
            %td#f5 188:48:39,6
            %td#f6 188:58:51,96
            %td#f7 188:59:53,196
            %td#f8 188:59:59,3196
          %tr
            %td Сервис&nbsp;может простаивать,&nbsp;ч:м:с
            %td#g1 18:54:0
            %td#g2 9:27:0
            %td#g3 3:46:48
            %td#g4 1:53:24
            %td#g5 0:11:20,4
            %td#g6 0:1:8,04
            %td#g7 0:0:6,804
            %td#g8 0:0:0,6804

      %br
      %h3 Вариант&nbsp;2
      %p
        Параметры: #{text_field_tag :a247, id: :a247, value: '24'}&nbsp;рабочих часов в&nbsp;день&nbsp;× #{text_field_tag :b247, id: :b247, value: '30'}  &nbsp;рабочих дней в&nbsp;периоде&nbsp;- #{text_field_tag :c247, id: :c247, value: '0'}&nbsp;часов регламентного простоя
      %p=button_tag "Пересчитать с новыми параметрами", onclick: "calculateValue();"
      %p В&nbsp;расчётном периоде <span id="d247" style="width:50px; height:25px;"> 720</span> рабочих часов.
      %table{width: "200"}
        %thead
          %tr
            %td Требуемая доступность
            %td #{hidden_field_tag 'e1', id: :e1, value: '0.9'}90,00&thinsp;%
            %td #{hidden_field_tag 'e2', id: :e2, value: '0.95'}95,00&thinsp;%
            %td #{hidden_field_tag 'e3', id: :e3, value: '0.98'}98,00&thinsp;%
            %td #{hidden_field_tag 'e4', id: :e4, value: '0.99'}99,90&thinsp;%
            %td #{hidden_field_tag 'e5', id: :e5, value: '0.999'}99,99&thinsp;%
            %td #{hidden_field_tag 'e6', id: :e6, value: '0.9999'}99,999&thinsp;%
            %td #{hidden_field_tag 'e7', id: :e7, value: '0.99999'}99,9999&thinsp;%
            %td #{hidden_field_tag 'e8', id: :e8, value: '0.999999'}99,99999&thinsp;%
        %tbody
          %tr
            %td Сервис&nbsp;обязан работать,&nbsp;ч:м:с
            %td#f1247 648:0:0
            %td#f2247 684:0:0
            %td#f3247 705:36:0
            %td#f4247 712:48:0
            %td#f5247 719:16:48
            %td#f6247 719:55:40,8
            %td#f7247 719:59:34,08
            %td#f8247 719:59:57,408
          %tr
            %td Сервис&nbsp;может простаивать,&nbsp;ч:м:с
            %td#g1247 72:0:0
            %td#g2247 36:0:0
            %td#g3247 14:24:0
            %td#g4247 7:12:0
            %td#g5247 0:43:12
            %td#g6247 0:4:19,2
            %td#g7247 0:0:25,92
            %td#g8247 0:0:2,592

  %br
  %h3 Примеры
  %p Вопрос: От&nbsp;меня требуют доступность уровня «4 девятки». Сколько времени в&nbsp;течение месяца моя система (сервис) может простаивать?

  %p Ответ: Уровень доступности «4 девятки» означает «всего 4&nbsp;девятки», а&nbsp;не&nbsp;«4&nbsp;девятки после&nbsp;запятой», т.е. это 99,99&thinsp;%. При&nbsp;режиме работы 9×5 ваша система может простаивать (а сервис — быть недоступным) примерно 1&nbsp;мин&nbsp;8&nbsp;сек в&nbsp;месяц, а&nbsp;при&nbsp;режиме работы 24×7 допустимое время простоя будет примерно 4&nbsp;мин&nbsp;20&nbsp;сек в&nbsp;месяц.
  %br

  %p Вопрос: Дэвид Майстер пишет, что у сотрудника в&nbsp;году примерно 2000&nbsp;рабочих часов. А&nbsp;сколько точно?

  %p Ответ: В&nbsp;2015 году 247&nbsp;рабочих дней. Подставьте в&nbsp;калькулятор выше 8&nbsp;рабочих часов в&nbsp;день&nbsp;× 247&nbsp;рабочих дней в&nbsp;периоде, получится 1976&nbsp;рабочих часов. Для&nbsp;России эта цифра чуть завышена, потому что&nbsp;у&nbsp;нас&nbsp;сотрудник обязан использовать отпуск. Если он возьмёт отпуск одним куском в&nbsp;4&nbsp;недели, то&nbsp;рабочих дней останется 227, а&nbsp;рабочих часов&nbsp;— 1816. Ещё нужно 5 часов вычесть из-за сокращённых предпраздничных дней. В&nbsp;2016 году рабочих дней 249, что даёт 1827 рабочих часов.
  %br

  =link_to 'Прокомментировать в&nbsp;блоге', '/2015-08-23-calculator-dostupnosty/'
  %br
  =link_to 'Посмотреть похожую таблицу в&nbsp;Wikipedia', 'http://en.wikipedia.org/wiki/High_availability'

:javascript
  function calculateValue(){
    var e = [];
    var t1 = 0;
    var t2 = 0;

    a = document.getElementById('a').value;
    b = document.getElementById('b').value;
    c = document.getElementById('c').value;

    a247 = document.getElementById('a247').value;
    b247 = document.getElementById('b247').value;
    c247 = document.getElementById('c247').value;

    d = a*b-c;
    d247 = a247*b247-c247;

    for(var i=1; i<9; i++) {
      e[i] = document.getElementById('e'+i).value;
    }

    for(var i=1; i<9; i++) {
      atime = d*e[i];
      ahours = Math.floor(atime);
      aminutes = Math.floor((atime-ahours)*60);
      aseconds = Math.round(((atime-ahours)*60-aminutes)*60*10000)/10000;
      if (aseconds==60) {aseconds = 0; aminutes++}
            if (aminutes==60) {aminutes = 0; ahours++}

      document.getElementById('f'+i).innerHTML = ahours+':'+aminutes+':'+String(aseconds).replace('.',',');

      atime = d*(1-e[i]);
      ahours = Math.floor(atime);
      aminutes = Math.floor((atime-ahours)*60);
      aseconds = Math.round(((atime-ahours)*60-aminutes)*60*10000)/10000;
      if (aseconds==60) {aseconds = 0; aminutes++}
      if (aminutes==60) {aminutes = 0; ahours++}

      document.getElementById('g'+i).innerHTML = ahours+':'+aminutes+':'+String(aseconds).replace('.',',');

      atime = d247*e[i];
      ahours = Math.floor(atime);
      aminutes = Math.floor((atime-ahours)*60);
      aseconds = Math.round(((atime-ahours)*60-aminutes)*60*10000)/10000;
      if (aseconds==60) {aseconds = 0; aminutes++}
      if (aminutes==60) {aminutes = 0; ahours++}

      document.getElementById('f'+i+'247').innerHTML = ahours+':'+aminutes+':'+String(aseconds).replace('.',',');

      atime = d247*(1-e[i]);
      ahours = Math.floor(atime);
      aminutes = Math.floor((atime-ahours)*60);
      aseconds = Math.round(((atime-ahours)*60-aminutes)*60*10000)/10000;
      if (aseconds==60) {aseconds = 0; aminutes++}
      if (aminutes==60) {aminutes = 0; ahours++}

      document.getElementById('g'+i+'247').innerHTML = ahours+':'+aminutes+':'+String(aseconds).replace('.',',');
    }
    document.getElementById('d').innerHTML = d;
    document.getElementById('d247').innerHTML = d247;
  }
