!!!
%html.no-js{lang: "ru"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: '4b800b99244c7ee3', name: 'yandex-verification'}/
    %meta{content: "Сайт Сергея Конакова", name: "title"}/
    %meta{content: "Сергей Конаков, сайт, контакты, айтил, айтиль, ITIL, cobit, pcmm", name: "keywords"}/
    %meta{content: "Сайт Сергея Конакова", name: "description"}/

    %title=yield_content(:title) || "Сайт Сергея Конакова"

    =stylesheet_link_tag "all"
    -# =javascript_include_tag "modernizr"
    -#    <link href="/bower_components/Likely/release/likely.css" rel="stylesheet">

  %body#body{class: page_classes}
    = partial "header"
    = partial "ads"
    #main= yield
    = partial "footer"
    = javascript_include_tag  "all"
    <script src="javascripts/likely.js" type="text/javascript"></script>
