- NoOfMeetings = 6
- content_for(:title, 'Управление ИТ-процессами | ноябрь — декабрь 2015')

.row
  .small-12.columns

    %h1.text-center Управление ИТ-процессами

    %table
      %tr
        %th &nbsp;
        %th.text-center{colspan: 7} Занятие
        %th.text-center{colspan: 3} Задание
      %tr
        %th
          Фамилия, имя    
        -(1..7).each do |n|
          %th
            -if n == NoOfMeetings + 1
              26.12.2015 
            -else
              #{n}
        %th
          =link_to 'Оргструктура', '#t1'

        %th
          =link_to 'Схема', '#t2'
        
        %th
          Зачёт

        -data.students.vmk_2015.sort_by { |student| student.name }.each do |student|
          %tr
            %td
              = student.name
            -( 1 .. NoOfMeetings ).each do |n|
              %td
                = student.visits.include?(n) ? '✓' : '✕'  
    
            -( NoOfMeetings+1 .. 7 ).each do |n|
              %td
                &nbsp;

            -( 1 .. 2 ).each do |n|
              %td.text-center
                = student.tasks.include?(n) ? '✓' : '&nbsp;'
    
            %td.text-center
              = student.test == :passed ? '✓' : '✕'  

    %h3#t1 Задание 1. Оргструктура

    %p Найдите в книге Ф. Брукса «Мифический человеко-месяц» описание организационной структуры команды программистов, которое он называет «Операционной бригадой». Пришлите мне это описание.

    %h3#t2 Задание 2. Схема процесса

    %p Нарисуйте схему порученного вам процесса. Рисуйте в стиле «Бассейн». Каждая «плавательная дорожка» соответствует исполнителю процесса. В прямоугольниках на дорожках запишите выполняемые исполнителями действия. Поименуйте стрелки. Пишите справа налево, а не снизу вверх. Если у вас получается больше 15 действий, вы рисуете излишне подробную для данного задания схему. Пришлите мне эту схему, а лучше выложите её в комментариях внизу страницы.

    %p 
      Таран Артём → Управление уровнем услуг<br>
      Еланский Кирилл → Управление конфигурациями<br>
      Исхаков Эльдар → Управление знаниями<br>
      Каменщиков Михаил → Управление инцидентами<br>
      Хаар Кирилл → Управление изменениями<br>
      Шайхисламов Денис → Управление событиями<br>
      Ульянов Александр → Управление проблемами<br>
      Сорокина Мария → Управление каталогом услуг<br>
      Борисов Сергей → Управление доступом<br>
      Фивейский Сергей → Управление запросами<br>

    %p Поскольку задача поставлена нечётко, её нельзя решить, её можно только сдать. Показывайте варианты, задавайте вопросы, и чем раньше, тем лучше.


.row#comments
  .small-12.columns
    #hypercomments_widget
    :javascript
      _hcwp = window._hcwp || [];
      _hcwp.push({widget:"Stream", widget_id: 63352});
      (function() {
        if("HC_LOAD_INIT" in window)return;
        HC_LOAD_INIT = true;
        var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
        var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
        hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/63352/"+lang+"/widget.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
      })();

    <a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>
    
